@inherits RocketContentAPI.Components.RocketContentAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketContentAPI.Components;
@using DNNrocketAPI.Components;
@using RocketPortal.Components;


@{
    var articleData = (ArticleLimpet)Model.GetDataObject("articledata");
    var appThemeView = (AppThemeLimpet)Model.GetDataObject("appthemeview");
    var appThemeAdmin = (AppThemeLimpet)Model.GetDataObject("appthemeadmin");
    var moduleData = (ModuleContentLimpet)Model.GetDataObject("modulesettings");
    var portalData = (PortalLimpet)Model.GetDataObject("portaldata");
    var globalSettings = new SystemGlobalData();

    // Path to the resx file
    AddProcessData("resourcepath", "/DesktopModules/RocketThemes/AppThemes-W3-CSS/rocketcontentapi.ContactDetailMap/1.0/resx");

}

@foreach (var articleRowData in articleData.GetRows())
{
    var info = articleRowData.Info;

    <div class="contact-wrapper">

        <div id="@articleRowData.RowKey" class="contact-infos">


            @if (info.GetXmlProperty("genxml/lang/genxml/textbox/company") != "")
            {
                <h1>@info.GetXmlProperty("genxml/lang/genxml/textbox/company")</h1>

                <div class="contact-item">
                    <div class="ci-header">
                        <span><i class="fas fa-map-marker-alt"></i></span>
                    </div>
                    <div class="ci-content">
                        @if (info.GetXmlProperty("genxml/textbox/adress") != "")
                        {
                            <p>
                                @HtmlOf(info, "genxml/textbox/adress")
                            </p>
                        }
                        <p>
                            @ResourceKey("Contact.tel1") : @info.GetXmlProperty("genxml/textbox/tel1")
                            @if (info.GetXmlProperty("genxml/textbox/tel2") != "")
                            {
                                <br />@ResourceKey("Contact.tel2")@: : @info.GetXmlProperty("genxml/textbox/tel2")
                            }
                            @if (info.GetXmlProperty("genxml/textbox/fax") != "")
                            {
                                <br />@ResourceKey("Contact.fax")@: : @info.GetXmlProperty("genxml/textbox/fax")
                            }
                            @if (info.GetXmlProperty("genxml/textbox/email") != "")
                            {
                                <br />@EmailOf(info, "genxml/textbox/email")
                            }
                        </p>
                    </div>
                </div>

                if (info.GetXmlProperty("genxml/textbox/contact1") != "")
                {
                    <div class="contact-item">
                        <div class="ci-header">
                            <span><i class="fas fa-user"></i></span>
                            <h3>@info.GetXmlProperty("genxml/textbox/contact1")</h3>
                        </div>
                        <div class="ci-content">
                            @if (info.GetXmlProperty("genxml/textbox/contactname1") != "")
                            {
                                @info.GetXmlProperty("genxml/textbox/contactname1")
                            }
                            @if (info.GetXmlProperty("genxml/textbox/mobile1") != "")
                            {
                                <br />@ResourceKey("Contact.contactport")@: : @info.GetXmlProperty("genxml/textbox/mobile1")
                            }
                            @if (info.GetXmlProperty("genxml/textbox/email1") != "")
                            {
                                <br />@info.GetXmlProperty("genxml/textbox/email1")
                            }
                        </div>
                    </div>
                }

                if (info.GetXmlProperty("genxml/textbox/contact2") != "")
                {
                    <div class="contact-item">
                        <div class="ci-header">
                            <span><i class="fas fa-user"></i></span>
                            <h3>@info.GetXmlProperty("genxml/textbox/contact2")</h3>
                        </div>
                        <div class="ci-content">
                            @if (info.GetXmlProperty("genxml/textbox/contactname2") != "")
                            {
                                @:@info.GetXmlProperty("genxml/textbox/contactname2")
                            }
                            @if (info.GetXmlProperty("genxml/textbox/mobile2") != "")
                            {
                                <br />@ResourceKey("Contact.contactport")@: : @info.GetXmlProperty("genxml/textbox/mobile2")
                            }
                            @if (info.GetXmlProperty("genxml/textbox/email2") != "")
                            {
                                <br />@info.GetXmlProperty("genxml/textbox/email2")
                            }
                        </div>
                    </div>
                }

                if (info.GetXmlProperty("genxml/lang/genxml/textbox/extrainfo") != "")
                {
                    <div class="contact-item">
                        <div class="ci-header">
                            <span><i class="far fa-clock"></i></span>
                            <h3>@ResourceKey("Contact.opening")</h3>
                        </div>
                        <div class="ci-content">@BreakOf(info, "genxml/lang/genxml/textbox/extrainfo")</div>
                    </div>
                }

            }
        </div>
        <div class="contact-map">@HtmlOf(info, "genxml/lang/genxml/textbox/map")</div>
    </div>

}


