@inherits RocketContentAPI.Components.RocketContentAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketContentAPI.Components;
@using DNNrocketAPI.Components;
@using RocketPortal.Components;

@{
    var articleData = (ArticleLimpet)Model.GetDataObject("articledata");
    var articleRowData = (ArticleRowLimpet)Model.GetDataObject("articlerow");
    var appThemeView = (AppThemeLimpet)Model.GetDataObject("appthemeview");
    var appThemeAdmin = (AppThemeLimpet)Model.GetDataObject("appthemeadmin");
    var appThemeSystem = (AppThemeSystemLimpet)Model.GetDataObject("appthemesystem");
    var moduleData = (ModuleContentLimpet)Model.GetDataObject("modulesettings");
    var portalData = (PortalLimpet)Model.GetDataObject("portaldata");
    var globalSettings = new SystemGlobalData();
    var sessionParams = Model.SessionParamsData;

    var info = new SimplisityInfo();
    if (articleRowData != null && articleRowData.Info != null)
    {
        info = articleRowData.Info;
    }
    AddProcessDataResx(appThemeView, true);
    AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketContent/App_LocalResources/");
}
<!-- require Key for saving -->
@HiddenField(info, "genxml/config/rowkey")
@HiddenField(info, "genxml/lang/genxml/config/rowkeylang", "", articleRowData.RowKey)

<div class='w3-row w3-padding'>
  


    <div class="w3-col m12 w3-padding">

        <!-- display title -->
        <div class="w3-half w3-padding">
            <label>Title</label><span>@EditFlag(sessionParams)</span>
            @TextBox(info, "genxml/lang/genxml/textbox/title", " class='w3-input w3-border' ", "", true)
        </div>

        <div class="w3-half w3-padding">
            <label>Twitter</label>
            @TextBox(info, "genxml/textbox/twitter", " class='w3-input w3-border' ", "", false)
        </div>

        <div class="w3-half w3-padding">
            <label>Linkedin</label>
            @TextBox(info, "genxml/textbox/linkedin", " class='w3-input w3-border' ", "", false)
        </div>
        <div class="w3-half w3-padding">
            <label>Facebook</label>
            @TextBox(info, "genxml/textbox/facebook", " class='w3-input w3-border' ", "", false)
        </div>
        <div class="w3-half w3-padding">
            <label>Youtube</label>
            @TextBox(info, "genxml/textbox/youtube", " class='w3-input w3-border' ", "", false)
        </div>
        <div class="w3-half w3-padding">
            <label>Pinterest</label>
            @TextBox(info, "genxml/textbox/pinterest", " class='w3-input w3-border' ", "", false)
        </div>
        <div class="w3-half w3-padding">
            <label>Instagram</label>
            @TextBox(info, "genxml/textbox/instagram", " class='w3-input w3-border' ", "", false)
        </div>
        <div class="w3-half w3-padding">
            <label>Tripadvisor</label>
            @TextBox(info, "genxml/textbox/tripadvisor", " class='w3-input w3-border' ", "", false)
        </div>
        <div class="w3-half w3-padding">
            <label>rss</label>
            @TextBox(info, "genxml/textbox/rss", " class='w3-input w3-border' ", "", false)
        </div>
    </div>
</div>



