@inherits RocketContentAPI.Components.RocketContentAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketContentAPI.Components;
@using DNNrocketAPI.Components;
@using RocketPortal.Components;


@{
    var articleData = (ArticleLimpet)Model.GetDataObject("articledata");
    var appThemeView = (AppThemeLimpet)Model.GetDataObject("appthemeview");
    var appThemeAdmin = (AppThemeLimpet)Model.GetDataObject("appthemeadmin");
    var moduleData = (ModuleContentLimpet)Model.GetDataObject("modulesettings");
    var portalData = (PortalLimpet)Model.GetDataObject("portaldata");
    var globalSettings = new SystemGlobalData();

    // Path to the resx file
    AddProcessData("resourcepath", "/DesktopModules/RocketThemes/AppThemes-W3-CSS/rocketcontentapi.ContactForm/1.0/resx");

}

@foreach (var articleRowData in articleData.GetRows())
{
    var info = articleRowData.Info;

    <h2 class="title">@ResourceKey("Form.title")</h2>
    <!-- TODO Rendre ce module fonctionnel, là c'est juste pour voir ce que ça donne avec wiseo pro eko version rocket mode -->
    <div class="contactform">
        <div class="contactformfields">
            <div class="cff-100">
                <div class="cff-50">
                    <label>@ResourceKey("Form.firstname")</label>
                    @TextBox(info, "genxml/textbox/firstname")
                </div>
                <div class="cff-50">
                    <label>@ResourceKey("Form.lastname")</label>
                    @TextBox(info, "genxml/textbox/lastname")
                </div>
            </div>
            <div class="cff-100">
                <div class="cff-50">
                    <label>@ResourceKey("Form.email")</label>
                    @TextBox(info, "genxml/textbox/clientemail", "type='email' required")
                </div>
                <div class="cff-50">
                    <label>@ResourceKey("Form.tel")</label>
                    @TextBox(info, "genxml/textbox/tel")
                </div>
            </div>
            <div class="cff-50">
                <label>@ResourceKey("Form.subject")</label>
                @TextBox(info, "genxml/textbox/subject")
            </div>
            <br />
            <div class="cff-50">
                <label>@ResourceKey("Form.message")</label>
                <textarea rows="8" id="emailsendermsg" update="save" type="text">@info.GetXmlProperty("genxml/textbox/emailsendermsg")</textarea>
            </div>
            <div class="cff-cb">
                <input id="gdprcheckbox" type="checkbox" name="gdprcheckbox" required="" update="save" aria-required="true">
                <label>By submitting this form you accept that the information entered may be used to contact you. *</label>
            </div>
        </div>
        <div class="cff-required">@ResourceKey("Form.compulsory")</div>

        <button type="button" class="bigbutton">@ResourceKey("Form.send")</button>


        <div class="spinner" style="display:none;">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    }


