@inherits RocketContentAPI.Components.RocketContentAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketContentAPI.Components;
@using DNNrocketAPI.Components;
@using RocketPortal.Components;


@{
    var articleData = (ArticleLimpet)Model.GetDataObject("articledata");

}

@foreach (var articleRowData in articleData.GetRows())
{
    var info = articleRowData.Info;
    // var imageurl = info.GetXmlProperty("genxml/imgs/genxml[1]/hidden/imageurl");
    if (!info.GetXmlPropertyBool("genxml/checkbox/hiderow"))
    {
        <div class="parallax-content" data-parallax="scroll" data-speed="0.2">
            <h2>@info.GetXmlProperty("genxml/textbox/title")</h2>
            <hr/>
            @if (info.GetXmlProperty("genxml/textbox/text") != "")
            {
                <div class="parallax-text">@BreakOf(info, "genxml/textbox/text")</div>
            }

            @if (info.GetXmlProperty("genxml/textbox/extra") != "")
            {
                <div class="parallax-extra"><b>@info.GetXmlProperty("genxml/textbox/extra")</b></div>
            }
            <div class="parallax-link">
                @if (info.GetXmlPropertyInt("genxml/select/rbllink") == 1)
                {
                    var tabddlvalue = PagesUtils.NavigateURL(info.GetXmlPropertyInt("genxml/select/linktab"));
                    <a class="bigbutton" href="@(tabddlvalue)">@info.GetXmlProperty("genxml/textbox/linktitle")</a>
                }
                @if (info.GetXmlPropertyInt("genxml/select/rbllink") == 2)
                {
                    var externalURL = info.GetXmlProperty("genxml/textbox/externalhref");
                    <a class="bigbutton" href="@(externalURL)" target="_blank">@info.GetXmlProperty("genxml/textbox/linktitle")</a>
                }
            </div>


        </div>
    }

}


